[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/leunggerry
[access "refs/for/refs/*"]
	read = group user/leunggerry
	push = group user/leunggerry
	label-Code-Review = -2..+2 group user/leunggerry
	label-Verified = -1..+1 group user/leunggerry
	rebase = group user/leunggerry
	removeReviewer = group user/leunggerry
	submit = group user/leunggerry
[access "refs/heads/*"]
	read = group user/leunggerry
	create = group user/leunggerry
	push = +force group user/leunggerry
	pushMerge = group user/leunggerry
[access "refs/tags/*"]
	push = group user/leunggerry
	push = +force group user/leunggerry
